.wrapper {
  max-width: 100%;
  min-width: 80%;
  height: 75rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #3333;
  border-radius: 10px;
  gap: 2rem;
  padding: 2rem;
  position: relative;

  /* background-color: red; */
}
.container {
  width: 100%;
  border-radius: 10px;
  /* border: 2px solid #3333; */
  font-size: 1.6rem;
  display: flex;
  gap: 3.5rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 2rem;
  padding-right: 1rem;
}
@media (max-width: 550px) {
  * {
    font-size: 40.5%;
  }
  .wrapper {
    border: none;
  }
  .container {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
}
