.wrapper {
  width: 100vw;
  display: flex;
  gap: 4.8rem;
  justify-content: center;
  padding-left: 3.8rem;
  padding-right: 4.8rem;
  padding-top: 2.4rem;
  overflow: hidden !important;
}
@media (max-width: 550px) {
  .wrapper {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem;
  }
}
