.container {
  display: flex;
  flex-direction: column;

  width: 32rem;
  height: 64rem;

  padding: 3.2rem 4.8rem 3.2rem 3.2rem;
  gap: 1.92rem;

  border-radius: 10px;
  border: 2px solid #3333;
}
.container ul {
  list-style: none;
}
.types__description {
  padding-left: 4rem;
}

.container input {
  margin-right: 1.12rem;
  width: 1.92rem;
  height: 1.92rem;
}
.container h2 {
  font-size: 2.2rem;
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 550px) {
  .container {
    position: absolute;
    left: -100vw;
    transform: translateX(100vw);
    transition: all 1s;
  }
}
