.minOrder {
  display: flex;
  flex-direction: column;
}
.minOrder span {
  font-size: 1.6rem;
}
/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;

    -webkit-appearance: none;
    background-color: white;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    background-color: blue;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 1rem;
    -webkit-appearance: none;
    height: 1rem;
    cursor: ew-resize;
    background: orange;
    border-radius: 50%;
  }
} */
