.product__types form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.product__types {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.product__types label {
  font-size: 1.6rem;
}
