.supply__types form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.supply__types {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.supply__types input[type='checkbox'] {
  border: 2px #fb6a00 solid;
  border-radius: 3px;
  margin-right: 10px;
}
/* .input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
/* create custom checkbox appearance */
/* display: inline-block; */

/* background-color only for content */
/* background-clip: content-box;
  border: 1.5px solid #bbbbbb;
  border-radius: 3px;
}
.input[type='checkbox']:checked {
  background-color: #ff0000;
  color: #fff;
}

.input[type='checkbox'] :focus {
  outline: none !important;
} */
.input[type='checkbox'] {
  appearance: none;
  margin: 0;

  font: inherit;
  background-color: #fff;
  /* color: rgb(255, 51, 0); */
  color: #fb6a00;

  width: 1.85rem;
  height: 1.85rem;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

.input[type='checkbox']::before {
  content: '';
  width: 1rem;
  height: 1rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  /* background-color: rgb(255, 51, 0); */
  background-color: #fb6a00;
}

.input[type='checkbox']:checked::before {
  transform: scale(1);
}

.input[type='checkbox']:active {
  outline: max(3px, 0.15em) solid #fb6a00;
  /* outline: max(3px, 0.15em) solid rgb(255, 255, 1); */
}
.input[type='checkbox']:checked {
  color: rgb(232, 236, 9);
  /* background-color: rgb(232, 236, 9); */
}
.supply__types label {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
